.header {
  height: 75px;
  background-color: rgb(55, 176, 218);
  box-shadow: 0 4px 10px #13232f4d;
  padding: 19px 10px 19px 10px;
}

.brand{
  height: 48px;
  padding-left: 40px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(../images/beta.jpg);
  /* background-image: url(https://unsplash.com/photos/hmBz6fWZB7k); */
  background-size: 100%;
  min-height: 93vh;
}

.wrapper {
  min-height: 100%;
}

.betaTitle {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 0px;
  padding: 70px 20px 20px 80px;
  color: rgb(27, 40, 93);
  text-shadow: 1px 1px 2px #000;
}

.betaTagline {
  font-size: 30px;
  padding-left: 80px;
  color: rgb(27, 40, 93);
  text-shadow: 1px 1px 2px #000;
}

.betaButton {
  float: right;
  color: rgb(27, 40, 93);
  border-radius: 5px;
  font-size: 20px;
  margin-top: 15px;
}

.emailButton {
  width: 160px;
  padding: 5px;
  margin-left: 5px;
  color: white;
  background-color: rgb(27, 40, 93);
  border-radius: 5px;
}
.emailInputDiv{
  margin-left: 60px;
}
.emailInput {
  margin-left: 20px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
}

.text-danger {
  margin-left: 10px;
  font-size: 16px;
  color:red;
  padding: 5px 10px 10px 10px;
  text-shadow: 1px 1px 2px #000;
}

.text-success {
  margin-left: 10px;
  font-size: 16px;
  color:green;
  padding: 5px 10px 10px 10px;
  text-shadow: 1px 1px 2px #000;
}

.typeform-share {
  text-decoration: none;
  background: #1B2C5D;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  padding: 7px 40px;
  margin: 0;
  height: 50px;
  margin-left: 21px;
  box-shadow: 0 50px 70px -20px #fff;
  border-radius: 5px;
  width: 160px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}