.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.destination-images {
  margin: 5px;
}
.user-flow {
	margin: 5px;
	background:linear-gradient(to bottom, #48a2df 5%, rgb(22, 63, 118) 100%);
	border-radius:4px;
	color: white;
	display:inline-block;
	cursor:pointer;
	font-size: 16px;
	font-weight: bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.user-flow:active {
	position:relative;
	top:1px;
}
a {
  color: white;
  text-decoration: none;
}
.button {
	border-radius: 4px;
}
.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
	margin: 5px 10px 5px 0;
	font-weight: bold;
  }
  
  /* Style the input fields */
  .form-inline input {
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius:4px;

  }
  
  /* Style the submit button */
  .form-inline button {
	padding: 10px 20px;
	background-color: rgb(0, 149, 226);
	border: 1px solid #ddd;
	color: white;
  }
  
  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
	.form-inline input {
	  margin: 10px 0;
	}
  
	.form-inline {
	  flex-direction: column;
	  align-items: stretch;
	}
  }


