.user-flow {
	margin: 5px;
	background-color: rgb(0, 149, 226);
	border-radius:4px;
	border: 1px solid #ddd;
	color: white;
	padding: 10px 20px;
}
.centerize {
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
	margin: 5px 10px 5px 0;
	font-weight: bold;
  }
  
  /* Style the input fields */
  .form-inline input {
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius:4px;
  }
  
  /* Style the next button */
  .form-inline button {
	padding: 10px 20px;
	background-color: rgb(0, 149, 226);
	border: 1px solid #ddd;
	color: white;
  }
  .form-inline button:hover {
	background-color: rgb(0, 125, 193);
  	color: aliceblue;
  }

  /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
  @media (max-width: 800px) {
	.form-inline input {
	  margin: 10px 0;
	}
  
	.form-inline {
	  flex-direction: column;
	  align-items: stretch;
	}
  }


