body, html {
  background-size: cover;
  height: 100%;
  background-size: 0 70px;
}

.home {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url(https://source.unsplash.com/1600x900/?travel);
  width: 100vw;
  height: 100vh !important; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home2 {
  width: 960px;
  padding: 2em 2em 4em 2em;
  box-shadow: 0 4px 10px 4px #13232f4d;
  max-width: 17em;
  background-color: aliceblue;
  border-radius: 20px;  
  text-align: center;
}

@media only screen and (min-height: 600px) {
  .home2 {
    margin-top: -125px;
  }
}
