#h2 {
  line-height: 0 !important;
  margin: 0 !important;
}
.home {
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
  background: url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=5884&h=3310&q=80);
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(240, 132, 2);
  letter-spacing: 5px;
}

.blue-background-box {
  font-size: 25px;
  color: rgb(251, 159, 49);
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  width: 960px;
  padding: 36px 10px 30px 10px;
  box-shadow: 0 4px 10px 4px #13232f4d;
  max-width: 19em;
  background-color: rgba(0, 176, 234, 0.4);
  border-radius: 12px; 
  margin-bottom: 9%;
}

.blue-background-box  a{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  color: white;
}
button.user-flow {
  margin: 5px;
  color: white;
	background-color: rgb(0, 149, 226);
	border-radius:4px;
  cursor: pointer;
	padding: 10px;
}
button.user-flow:hover{
  background-color: rgb(0, 125, 193);
  color: rgb(251, 159, 49);
}

