body, html {
  background-color: rgb(238,239,240);
  /* background-image: url(https://picsum.photos//580?random=${id}); */
  background-size: cover;
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home2 {
  width: 960px;
  padding: 2em 2em 4em 2em;
  box-shadow: 0 4px 10px 4px #13232f4d;
  max-width: 17em;
  background-color: aliceblue;
  border-radius: 20px;  
  text-align: center;
}

@media only screen and (min-height: 600px) {
  .home2 {
    margin-top: -125px;
  }
}
