.navbar {
  height: 75px;
  background-color: rgb(55, 176, 218);
  box-shadow: 0 4px 10px #13232f4d;
  padding: 19px 10px 19px 10px;
}
.brand{
  height: 48px;
  padding-left: 40px;
}
.navbar .list {
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
  margin: 5px 10px 0 0;
  text-decoration: none;
  color:#fff;
  border: 1px solid white;
  border-radius: 30px;
  padding:18px;
}
#signup{
  color: rgb(55, 176, 218);
  background-color: aliceblue;
  margin-right: 110px;
}
#signup:hover{
  background-color: rgb(0, 125, 193);
  color: aliceblue;
}
#login:hover{
  color: #fff;
  background-color: rgb(0, 125, 193);
}
.fas {
  margin-right: 7px;
}