.navbar {
  height: 60px;
  background-color: rgb(55, 176, 218);
  box-shadow: 0 4px 10px #13232f4d;
}
.brand{
  height: 50px;
  padding-left: 30px;
  padding-top: 10px;
}
.navbar .list {
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  text-decoration: none;
  color: aliceblue;
}
.navbar .list:hover {
  color:rgb(27, 40, 93);
}
.fas {
  margin-right: 7px;
}